# General for C/C++ projects
build
*.o

# General for Python projects
dist/
__pycache__/
pip-wheel-metadata
*.egg-info

# General for Rust projects
target/

# LLVM
*.ll
*.bc

# Aardwolf
*.aard
aard.*
